[run]
source = rplogo
omit =
    *setup.py
	*__init__*
	*tests*
	*__pycache__*
branch = True

[report]
show_missing = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError